<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap.html' %}

    <title>Player Stats</title>


</head>

<body lang="en" data-bs-theme="dark" style="--bs-body-bg: #143454;">

            <div class="container">
                <div class="row">

                    <div class="col mt-4 text-center">
                        <label for="PlayerSearch" class="form-label" style="font-size:25px;"><b>Player Search</b></label>
                    </div>

                </div>

                <form autocomplete="off">
                    <div class="row mb-2 mt-2 gx-2">

                        <div class="offset-4 col-4 text-center">
                                <input class="form-control text-center" id="PlayerSearch" name="PlayerSearch" type="text" style="line-height: 25px;">
                        </div>


                        <div class="col">
                                <input class="btn btn-lg fw-bold" type="submit" style="--bs-btn-bg: #eee; --bs-btn-color: #000; --bs-btn-border-color: #000; --bs-btn-hover-color: #000; --bs-btn-hover-bg: #7BCCEE; --bs-btn-line-height: 20px; ">
                                </input>
                        </div>

                    </div>
                </form>
            </div>

            <div class="container">

                <div class="row">
                  <div class="col-12 mt-5 mx-auto table_outer">
                    <table class="table table-default table-striped table-hover" id="player_table">
                      <thead>
                      <tr>
                          <th scope="col" >Player Name</th>
                          <th scope="col" >Age</th>
                          <th scope="col" >Position</th>
                          <th scope="col" >Team</th>
                          <th scope="col" >Points</th>
                      </tr>
                      </thead>

                      <tbody>
                      {% for i in dataframe['name'] %}

                          <tr class="table">
                              <td>{{ dataframe['name'].get(i) }}</td>
                              <td>{{ dataframe['age'].get(i) }}</td>
                              <td>{{ dataframe['positions'].get(i) }}</td>
                              <td>{{ dataframe['team'].get(i) }}</td>
                              <td>{{ dataframe['points'].get(i) }}</td>
                          </tr>

                      {% endfor %}
                      </tbody>

                    </table>
                  </div>
                </div>
            </div>


    <script>
      $(document).ready(function () {
        $('#player_table').DataTable();
      });
    </script>

    <script>
        $("tr.table").click(function() {
            var tableData = $(this).children("td").map(function() {
               return $(this).text();
            }).get();

            alert("Your data is: " + $.trim(tableData[0]) + " , " + $.trim(tableData[1]) + " , " + $.trim(tableData[2]));
            });
    </script>


    {% include 'footer.html' %}

</body>

</html>