<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap.html' %}

    <title>Stat Champ</title>

    <style>
        .bg {
        background-color: rgba(20,22,84,1);
    }

        .btn {
            background-color: rgba(20,22,84,1);
            opacity: .80;
            font-weight: 500;
    }

        .bg-image {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    }

    </style>

    {% include 'header.html' %}

</head>

<body lang="en" class="bg text-white">

    <div
      class="bg-image"
      style="
        background-image: url('/static/court_chart_bg.png');
        height: 60vh;
      ">
        <div class="container-fluid">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="row">
                        <div class="col mt-2 text-center">
                            <h1 class="fw-bold mb-2 border-bottom border-white">Welcome to Stat Champ!</h1>
                            <h4 class="fw-bold mb-2">Your home for analyzing NBA player stats.</h4>
                            <p class="fw-bold mb-3">Use the search below to locate a player and then select the player to view their profile.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="d-grid gap-3 mx-auto col-lg-4 col-md-4 col-sm-2 mt-4 text-center">
                    <a href="/" class="btn btn-secondary btn-lg">NBA Teams</a>
                    <a href="/stat_leaders" class="btn btn-secondary btn-lg">NBA Stat Leaders</a>
                    <a href="/" class="btn btn-secondary btn-lg">FAQ/About</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col mt-4 text-center">
                <label for="player_table" style="font-size:35px; font-weight: 700;">Player Search</label>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12 mt-4 mx-auto table_outer table-responsive">
                <table class="table table-default table-striped table-hover table-responsive" id="player_table">
                    <thead>
                    <tr>
                        <th scope="col" >Player Name</th>
                        <th scope="col" >Age</th>
                        <th scope="col" >Position</th>
                        <th scope="col" >Team</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for i in player_search_table['name'] %}

                    <tr class="table">
                        <td>{{ player_search_table['name'].get(i) }}</td>
                        <td>{{ player_search_table['age'].get(i) }}</td>
                        <td>{{ player_search_table['position'].get(i) }}</td>
                        <td>{{ player_search_table['team'].get(i) }}</td>
                    </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <script>
      $(document).ready(function () {
        $('#player_table').DataTable();
      });
    </script>

    <script>
        $("tr.table").click(function() {
            var tableData = $(this).children("td").map(function() {
               return $(this).text();
            }).get();

            //alert("Your data is: " + $.trim(tableData[0]) + " , " + $.trim(tableData[1]) + " , " + $.trim(tableData[2]));
             window.open('/player/' + $.trim(tableData[0]) + '', '_self');

        });
    </script>

    {% include 'footer.html' %}

</body>

</html>