<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap.html' %}

    <title>Login</title>

    <style>
        .container-fluid,
        .container {
        background-color: #143454;
    }
    </style>

    {% include 'header.html' %}


</head>
<body lang="en" data-bs-theme="dark">


<div class="container rounded-3 border shadow-lg mb-4 py-4">
    <form method="POST" name="loginForm">
        <img class="mb-4" src="/static/logo.png" alt="" width="100" height="auto">
        <h1 class="h3 mb-3 fw-bold">Login</h1>

        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="floatingUser" name="username" placeholder="">
          <label for="floatingUser">Username</label>
        </div>

        <div class="form-floating mb-2">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="">
          <label for="floatingPassword">Password</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Sign Up</button>
      </form>
    </div>

</body>

{% include 'footer.html' %}

</html>