<div class="container-fluid border rounded mb-4" id="header">
    <header class="d-flex flex-wrap justify-content-center py-3">

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="true">Search</a></li>
        <li class="nav-item"><a href="/teams" class="nav-link" aria-current="false">Teams</a></li>
        <li class="nav-item"><a href="/test" class="nav-link" aria-current="false">FAQ/About</a></li>
      </ul>


      <script>
        // Get the container element & nav items
        // come back to do this for aria-current - setting active page to true
        var navContainer = document.getElementById("header");
        var navItems = navContainer.getElementsByClassName("nav-link");
        var url = document.URL;
        var i = 0;

        // Loop through the items
        while (navItems[i]) {

          var navs = navItems[i].href;
          if (url.match(navs)) {
              navItems[i].className = navItems[i].className.replace("nav-link", "nav-link active");
              }
            else {
                navItems[i].className = "nav-link";
            }
            i++;
        }
      </script>

    </header>
  </div>
