<div class="container-fluid mb-3" id="header">
  <div class="row">
    <header class="d-flex align-items-center justify-content-between py-2 mb-1">

        <a href="/" class="nav-link" aria-current="true">
          <img class="rounded-3" src="/static/logo_transparent.png" alt="" width="280" height="auto">
        </a>

        <div class="dropdown align-items-center">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
          <img class="rounded-3" src="/static/orange_button.png" alt="" width="50" height="auto">
        </a>
        <ul class="dropdown-menu text-small shadow" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 34px, 0px);">
          <li><a class="dropdown-item active" href="#" aria-current="page">Overview</a></li>
          <li><a class="dropdown-item" href="#">Game Stats</a></li>
          <li><a class="dropdown-item" href="#">News Feed</a></li>
          <li><a class="dropdown-item" href="#">Team Stats</a></li>
          <li><a class="dropdown-item" href="#">Teams</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">FAQ</a></li>
          <li><a class="dropdown-item" href="#">About</a></li>
        </ul>
      </div>


      <!--<script>
        // Get the container element & nav items
        // come back to do this for aria-current - setting active page to true
        var navContainer = document.getElementById("header");
        var navItems = navContainer.getElementsByClassName("nav-link");
        var url = document.URL;
        var i = 0;

        // Loop through the items
        while (navItems[i]) {

          var navs = navItems[i].href;
          if (url.match(navs)) {
              navItems[i].className = navItems[i].className.replace("nav-link", "nav-link active");
              }
            else {
                navItems[i].className = "nav-link";
            }
            i++;
        }
      </script>-->

    </header>
  </div>
</div>
