{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="rounded-3 shadow-lg">
        <div class="alert alert-danger alter-dismissible fade show" role="alert">
            <h4>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </h4>
        </div>
    </div>
    {% else %}
    <div class="rounded-3 shadow-lg">
        <div class="alert alert-success alter-dismissible fade show text-center" role="alert">
            <h4>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </h4>
            <hr>
            <p>A confirmation email has been sent to your email address. You may now log in.</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}